@model IEnumerable<Sonatto.Models.Produto>
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Adicionar produto</title>
    <link rel="stylesheet" href="~/css/Index.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/AddProd.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Sonatto.styles.css" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bruno+Ace&display=swap" rel="stylesheet">
</head>
<body>
    @Html.Partial("_Header")

    <div class="navDasPag">
        <a class="" asp-area="" asp-controller="Home" asp-action="Index">Perfil ></a>
        <a class="" asp-area="" asp-controller="Home" asp-action="Index">Ações ></a>
        <a class="" asp-area="" asp-controller="Produto" asp-action="Adicionar" style="color: black;">Adicionar</a>
    </div>
    <h1 class="titulo">Adicionar produto</h1>
    



    @Html.Partial("_Footer")
</body>
</html>