@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sonatto</title>
    <link rel="stylesheet" href="~/css/Produto.css" />
</head>
<body>
    <div class="header">
        <img id="imgLogo" src="~/imgs/Logos/Logo.svg" alt="Img da Logo" />

        <div class="navigation">
            <a class="navi-item">Produtos</a>
            <a class="navi-item">Lançamentos</a>
            <a class="navi-item">Marcas</a>
        </div>

        <div class="bar-Pesquisa">
            <img class="lupa" src="~/imgs/lupa.png" alt="Icone lupa" />
            <input name="search" type="text" class="text-Pesquisa" placeholder="Pesquise pelos produtos..." />
        </div>

        <div class="menuUsr">
            <img class="menuUsr-img" src="~/imgs/carrinho.png" />
            <img class="menuUsr-img" src="~/imgs/person.png">
        </div>

    </div>
    <div class="main">
        <div class="appPath">Home > Baterias > Pearl > Drum set Midtown Series</div>
    </div>
</body>
</html>