
@{
    Layout = null;
}

<head>
    <link rel="stylesheet" href="./css/GerenciarPerm.css" />
    <link rel="shortcut icon" href="~/imgs/Logos/LogoWhite.svg" />
</head>
<body>
    <h1>TESTEEEE</h1>
</body>
