
<div class="footerContainer">
    <div class="footerBack">
        <footer>
            <img src="~/imgs/Logos/LogoWhite.svg" alt="Logo Sonatto" />
            <div class="footerContent">
                <div class="footerSection">
                    <h3>Contato</h3>
                    <ul>
                        <li>+55 11 93090-3245</li>
                        <li>contato@sonatto.com</li>
                        <li>Endereço</li>
                    </ul>
                </div>
                <div class="footerSection">
                    <h3>Ajuda</h3>
                    <ul>
                        <li>Suporte ao Consumidor</li>
                        <li>Termos e Condições</li>
                        <li>Política de Privacidade</li>
                    </ul>
                </div>
            </div>

        </footer>
        <div class="footerDown">
            <hr />
            <h4>Sonatto © 2020 - 2025. Todos os direitos reservados.</h4>
        </div>
    </div>
</div>
