<div class="header">
    <img id="imgLogo" src="~/imgs/Logos/Logo.svg" alt="Img da Logo" />

    <div class="navigation">
        <a class="navi-item" asp-area="" asp-controller="Produto" asp-action="Catalogo">Produtos</a>
        <a class="navi-item" asp-area="" asp-controller="Home" asp-action="Index" asp-fragment="lancamentos" style="scroll-behavior: smooth;">Lançamentos</a>
        <a class="navi-item" asp-area="" asp-controller="#" asp-action="#">Sobre</a>
    </div>

    <div class="bar-Pesquisa">
        <img class="lupa" src="~/imgs/lupa.png" alt="Icone lupa" />
        <input name="search" type="text" class="text-Pesquisa" placeholder="Pesquise pelos produtos..." />
    </div>

    <div class="menuUsr">
        <img class="menuUsr-img" src="~/imgs/carrinho.png" id="carrinho"/>
        <img class="menuUsr-img" src="~/imgs/person.png" id="perfil">
        <script>
            document.getElementById('perfil').addEventListener('click', () => {
                // Faz uma requisição para verificar sessão
                fetch('/Usuario/VerificarLogin')
                    .then(r => r.json())
                    .then(logado => {
                        if (logado) {
                            window.location.href = '/Usuario/Perfil';
                        } else {
                            window.location.href = '/Login/Index';
                        }
                    });
            });
        </script>

    </div>

</div>