<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Sonatto</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Sonatto.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">

            <div id="appbar">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">SONATTO</a>

                <div id="appbar-itens">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Produtos</a>
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Lançamentos</a>
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Marcas</a>
                </div>

                <div id="appbar-Pesquisa">
                    <input type="text" id="appbar-barraDePesquisa" placeholder="Pesquise pelos produtos..." />
                </div>

                <div id="itens-imgs">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy"><img id="imgAppbar" src="~/imgs/carrinho.png" /></a>
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy"><img id="imgAppbar" src="~/imgs/person.png"></a>
                </div>
            </div>


        </nav>
    </header>

    <div class="container" hidden>
        <!--sem isso aq ele buga, n sei o pq. por isso deixei ele em hidden-->
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <div class="telaInicio">
        <div class="textos">
            <h1>Descubra o instrumento que mais parece com você</h1>
            <h2>Navegue por uma quantidade imensa de produtos meticulosamente selecionados e projetados para explorar as suas individualidades e cativar o seu senso de estilo.</h2>
        </div>

        <div class="comprarERegistros">

            <button href="#">Comprar</button>

            <div class="registros">
                <ul>
                    <!--lista dos registros, eles vão ficar ordenados na vertical-->
                    <li>
                        <h3>200+</h3>
                        <h4>Marcas internacionais</h4>
                    </li>
                    <li>
                        <h3>2,000+</h3>
                        <h4>Produtos</h4>
                    </li>
                    <li>
                        <h3>30,000+</h3>
                        <h4>Clientes Satisfeitos</h4>
                    </li>
                </ul>
            </div>

        </div>

    </div>
    <div class="marcasAbaixo">
        <img src="~/imgs/fender.png" />
        <img src="~/imgs/roland.png" />
        <img src="~/imgs/gibson.png" />
        <img src="~/imgs/pearl.png" />
        <img src="~/imgs/yamaha.png" />
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - Sonatto - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
