@model IEnumerable<Sonatto.Models.Produto>

@{
    ViewData["Title"] = "Catalogo";
}
<script src="~/css/Catalogo.css"></script>
<script src="~/css/site.css"></script>

<div class="menuLateral">
    <div class="navDasPag">
        <a class="" asp-area="" asp-controller="Home" asp-action="Index">Home ></a>
        <a class="" asp-area="" asp-controller="Home" asp-action="Index">Produtos ></a>
    </div>

    <div class="menuLateralFiltros">
        <div class="menuLateralFiltrosTitulo">
            <h2>Filtros</h2>
            <img src=""/>
        </div>
        <div class="menuLateralFiltrosCategoria"></div>
        <div class="menuLateralFiltrosPrecos"></div>
        <div class="menuLateralFiltrosAplicar"></div>
    </div>




</div>



<div class="row">


    <a>
        <div class="cards">
            <div class="card">
                <div class="imagem">
                    <img src="" class="card-img-top" alt="" style="height: 200px; object-fit: cover;">
                </div>
                <div class="text">
                    <h2 class="card-titulo"></h2>
                    <img src="" class="avaliacao" alt="" style="width: 20px;" />
                    <p class="text-card"></p>
                </div>
            </div>

        </div>
    </a>

</div>


