@model IEnumerable<Sonatto.Models.Produto>

@{
    ViewData["Title"] = "Catalogo";
}
<script src="~/css/Catalogo.css"></script>
<script src="~/css/site.css"></script>

<div class="menuLateral">
    <div class="navDasPag">
        <a class="" asp-area="" asp-controller="Home" asp-action="Index">Home ></a>
        <a class="" asp-area="" asp-controller="Home" asp-action="Index">Produtos ></a>
    </div>

    <div class="menuLateralFiltros">
        <div class="menuLateralFiltrosTitulo">
            <h2>Filtros</h2>
            <img src=""/>
        </div>
        <div class="menuLateralFiltrosCategoria">
            <p>Sopro  ></p>
            <p>Percussão  ></p>
            <p>Corda  ></p>
            <p>Teclas  ></p>
        </div>
        <div class="menuLateralFiltrosPrecos">
            <h2>Preços</h2>
            <input type="range"/>
        </div>
        <div class="menuLateralFiltrosAplicar">
            <h1>Aplicar filtros</h1>
        </div>
    </div>
</div>

<div class="exibicao">
    <div class="exibicaoFilto">
        <p>Filtro: Maior relevancia</p> <img src=""/> 
    </div>
    <div class="exibicaoGrid">
        <!--foreach-->
        <div class="exibicaoCard">
            <img src=""/>
            <p class="cardNome">Nome produto</p>
            <div class="cardNotas">
                <img src=""/> <p>0/0</p>
            </div>
            <div class="cardPreco">
                <p>R$0000,00</p>
            </div>
        </div>

    </div>  
    <div class="exibicaoSwitch">
        <button class="exibicaoSwitchAnterior"><img src="seta"/></button>
        <button class="exibicaoSwitchProximo"><img src="seta"/></button>
        <div class="exibicaoSwitch"></div>
    </div>
</div>


