/*Battambang */
@import url ('https://fonts.googleapis.com/css2?family=Battambang:wght@100;300;400;700;900&display=swap');

.navDasPag {
    position: absolute;
    margin: 25px 0 0 100px;
    font-family: "Source Code Pro", monospace;
    font-size: 24px;
    a

{
    text-decoration: none;
    color: gray;
}

}

.titulo {
    font-family: "Battambang";
    font-size: 70px;
    margin: 75px 1000px 0 0;
}

.fundo {
    position: absolute;
    justify-self: center;
    margin: 10px 0 50px 0;
    padding: 10px;
    border: 1px solid black;
    border-radius: 20px;
    background-color: rgba(227, 222, 222, 1);
    width: 90%;
    height: 800px;
}

.campos {
    background-color: aqua;
    margin: 20px 0 0 30px;
    width: 850px;
    height: 95%;
}

.cCaixas {
    margin: 0 0 10px 0;
    h4

{
    font-family: "Battambang";
    font-size: 28px;
    font-weight: 500;
    color: black;
    margin: 0 0 -8px 20px;
}
input {
    width: 90%;
    margin: 0 0 0 20px;
    height: 45px;
    border-radius: 10px;
    border: 1px solid gray;
    font-family: "Battambang";
    font-size: 18px;
    font-weight: 500;
    padding: 0 0 0 30px;
    resize: none;
}
textarea {
    width: 90%;
    margin: 0 0 0 20px;
    height: 120px;
    border-radius: 10px;
    border: 1px solid gray;
    font-family: "Battambang";
    font-size: 18px;
    font-weight: 500;
    padding: 0 0 0 30px;
    resize: none;
}
}

