/*Import das fontes*/

/*Be Vietnam Pro*/ @import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/*Aobosh One*/ @import url('https://fonts.googleapis.com/css2?family=Aoboshi+One&display=swap');
/*Bowlby One SC*/ @import url('https://fonts.googleapis.com/css2?family=Bowlby+One+SC&display=swap');
/*Braah One*/ @import url('https://fonts.googleapis.com/css2?family=Braah+One&display=swap');
/*Source Code Pro*/ @import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200;300;400;500;600;700;800;900&display=swap');
/*Bruno Ace*/@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace&display=swap');

/*Início do CSS*/
* {
    margin: 0;
    padding: 0;
}

.page{
    width:100%;
    height:100%;
    display:flex;
    flex-direction:column;
    overflow-y:hidden;
}

.conteudo-page {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: row;
}

.img-fundo {
    height:max-content;
    width:100%;
}

 .image-fundo {
    display:flex;
    width: 50%;
    height: 100%;
}
.form-login {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80%;
}

.logo-img{
    width: 100%; 
    margin-bottom:5%;
}


.form-inputs{
    width: 45%;
    height:auto;
    display:flex;
    gap:40px;
    flex-direction:column;
    justify-content:center;
}

.input-form {
    height: 55px;
    border-radius:10px;
    border: 3px solid #4F4F4F;
    padding-left: 20px;
    font-size: 18px;
    color: #4F4F4F ;
}
.input-form::placeholder{
    font-size: 18px;
    color: #4F4F4F;
}

.link-login{
    font-size: 20px;
    margin-top:-4%;
    color: #4F4F4F;
    cursor:pointer;
    text-decoration:underline;
}

.btn-entrar {
    margin-top: 5%;
    width: 100%;
    height: 70px;
    border-radius: 10px;
    background-color: #3C3C43;
    font-size:25px;
    font-family:'Times New Roman';
    color:white;
    border-style: none; 
    cursor:pointer;
}


.footer {
    width: 100%;
    height: 15%;
    background-color: #3C3C43;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: Bruno Ace;
    font-size: 15px;

}


@media (min-width: 390px ) and (max-width: 1000px){
    .conteudo-page{
        justify-content:center;
    }
    .image-fundo{
        display: none;
    }

    .form-login {
        width: 100%;
    }

    .form-inputs {
        width: 80%;
    }

    .input-form {
        height: 70px;
        font-size: 30px;

    }
    .input-form::placeholder{
        font-size: 30px;
    }

    .btn-entrar{
        font-size:40px;
        height:100px;
    }

    .link-login{
        font-size:25px;
    }

    .footer {
        margin-top: 0px;
        height: 10%;
        font-size:20px;
    }
}