/* Navegação das páginas */
.navDasPag {
    margin: 9% 0 0 7%;
    font-family: "Source Code Pro", monospace;
    font-size: 24px;
}

    .navDasPag a {
        text-decoration: none;
        color: gray;
    }

body {
    font-family: "Source Code Pro", monospace;
}

.tituloLogOff{
    margin: 0 0 3% 0;
}

.tituloLogOff h2 {
    color: gray;
    margin: 2% 0 0 6.7%;
    font-weight: 400;
    font-size: 45px;
}

.logOff {
    h4

{
    color: red;
    justify-self: end;
    justify-items: center;
    margin: -2% 6% 0 0;
}

img {
    background-color: red;
    width: 40px;
    height: 70px;
    justify-self: end;
    display: flex;
    margin: -2% 3.5% 0 0;
}

}

.ultimasCompras {
    background-color: rgba(195, 192, 189, 0.6);
    width: 100%;
    hr{
          display: flex;
          flex-direction: column;
      }
}

.tituloBar {
    padding: 2% 0 0 0;
    width: 100%;
    h1

{
    height: 80px;
    font-size: 45px;
    font-weight: 500;
    margin: 0 0 0 6.7%;
}

img {
    background-color: blueviolet;
    width: 80px;
    height: 40px;
    margin: -4% 5% 0 0;
    display: flex;
    justify-self: end;
}

}

.cardsDados {
    width: 45%;
    height: 700px;
    margin: 3% 0 0 6%;
    max-height: 1%;
    overflow: hidden;
    background-color: purple;
}

.cardCompras {
    background-color: white;
    width: 98%;
    max-width: 98%;
    height: 120px;
    justify-self: center;
    margin: 2% 0 0 0;
    img

{
    background-color: black;
    height: 100%;
    width: 13%;
    border-radius: 10px 0px 0px 10px;
}

}

.dadosCard {
    margin: -14.8% 0 0 5%;
    gap: 10px;
    width: 87%;
    height: 100%;
    align-self: center;
    justify-self: end;
    p{
         margin: 0 0 1.5% 2%;
         font-size: 18px;
         font-weight: 500;
     }
}

.maisDetalhes{
    margin: -2.9% 0 0 36.5%;
    color: gray;
}

.dadosDaCompra {
    background-color: rgba(141, 141, 141, 1);
    position: absolute;
    justify-self: end;
    height: 77%;
    width: 40%;
    margin: -37% 5% 0 0;
    h1{
          justify-self: center;
      }
}

.subCard {
    background-color: rgba(195, 195, 195, 1);
    height: 78%;
}

.itensDados {
    background-color: rgba(234, 234, 234, 1);
    justify-self: center;
    width: 90%;

}

.subtotal{
    justify-self: end;
}

