html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

#appbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    gap: 20px; 

}

#appbar-Meio {
    display: flex;
    align-items: center;
    flex: 1; 
    gap: 20px;
    max-width: 100%;
}

#appbar-Menu {
    display: flex;
    gap: 15px;
    white-space: nowrap; 
    margin-left:150px;
    margin-right:25px;
}

#appbar-barraDePesquisa {
    display: flex;
    align-items: center;
    flex: 1; 
    width: 300px;
    max-width: 300px;
    margin: 0 10px;
    border: 1px solid #aaa;
    border-radius: 20px;
    padding: 5px 12px;
}

    #appbar-barraDePesquisa input {
        border: none;
        outline: none;
        flex: 1;
        padding: 6px;
        font-size: 14px;
    }


#imgAppbar {
    display: flex;
    gap: 10px;
    width: 35px;
    height: 35px;
}

.telaInicio {
    background-image: url('../imgs/violaoBackground.png');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    margin-top: -20px;
    padding-top: 50px;
}

.textos{
    color:aliceblue;
    margin-left: 35px;
    gap:10px;
    font-size: 50px;
}

.comprarERegistros{
    margin-top: 200px;
}

.marcasAbaixo {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    img{
           height: 53px;
           padding-left:10px;
           padding-right:10px;
           width: auto;
       }
}